.cart-container {
   
  text-align: center;
  
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: black;
  position: relative;
  height: auto;
  
  }
  
  .cart-header h2 {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    font-size: 3rem;
    position: relative;
  }
  
  .cart-content {
    margin: 40px;
    
    margin-top: 80px;
  }
  
  .cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-empty img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .cart-empty p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .cart-empty button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cart-empty button:hover {
    background-color: #555;
  }
  